* { 
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    position: relative;
    padding: 20px;
    color: white; /* Text color */
    /*text-align: center;*/
}

/*.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); /* 50% opacity    
}*/

.content {
    position: relative;
    top: 30%;
    transform: translateY(-50%);
    z-index: 1; /* Place content above overlay */
}
.slide { 
    position: relative; 
    height: 100vh;
    width: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    background-image: url('https://placekitten.com/1200/800');
    background-size: cover;

    background-repeat: no-repeat;
    background-position: center;
    scroll-snap-align: start;
}
.slide::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.25);
}

/*.slide {
    width: 100%;
    height: 100vh;
    display: block;
    align-items: center;
    justify-content: center;
    gap: 50px;
    color: rgb(255, 255, 255);
    scroll-snap-align: start;

    position: relative;
    height: 110%;
    /*
    background: url(https://i.pinimg.com/originals/54/58/30/5458303d91ff080f07a7884b9f6ff2a7.gif);
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}*/

.slides img{
    width: 350px;
}

.slides h2{
    font-size: 70px;
    font-weight: 600;
    max-width: 650px;
}

.website-title {
    color: white;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 100px;
    display: inline-flex;
    padding-inline: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 50px;
}

.title-icon {
    width: 70px !important; /* Set the width of the image */
    height: 70px; /* Maintain aspect ratio */
    margin-right: 10px; /* Space between image and text */
    align-items: center;
}
/* CSS */
.welcome-message {
    text-align: center;
    font-size: 25px;
    display: block;
    /*margin: 0 auto;  Center align */
    /*margin-top: -70px;  Adjust the top margin */
    position: relative;
    top: 10px; /* Move up 30px, adjust as needed */
}

.climate-types {
    text-align: center;
    font-size: 50px;
    display: block;
    margin: 0 auto; /* Center align */
    /*margin-top: -100px;  Adjust the top margin */
    position: relative;
    /*top: 120px;  Move up 30px, adjust as needed */
}

/* Ensure this for .title-icon */
.title-icon {
    width: 50px !important; /* Set the width of the image */
    height: auto !important; /* Maintain aspect ratio */
    margin-right: 10px !important; /* Space between image and text */
}

.circular-image-container {
    width: 200px; /* Set the width */
    height: 200px; /* Set the height */
    overflow: hidden; /* Hide overflow */
    border-radius: 50%; /* Circular container */
    display: inline-block; /* Inline block for spacing */
    margin-inline: 30px; /* Space between images */
}

.circular-image {
    width: 100%;
    height: 100%;
    /*
    border-radius: 50%;
    margin-inline: 10px;
    overflow: hidden; 
    */
}

.slide1 {
    position: relative;
    height: 110%;
    /*
    background: url(https://i.pinimg.com/originals/a2/6c/af/a26caf8007678c9c489207faf8230ac6.gif);
    */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*background: linear-gradient(454deg, #9574ff, #ff5353);*/
}

.slide2 {
    position: relative;
    height: 110%;
    background: url(https://i.pinimg.com/originals/54/58/30/5458303d91ff080f07a7884b9f6ff2a7.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.slide3 {
    background: linear-gradient(454deg, #404c80, #53ff88);
}

.slide4{
    position: relative;
    height: 110%;
    background: url(https://cdn.cara.app/production/posts/ac6a9628-a147-4d18-b509-288e152d9b29/628B3466-DE45-4253-A04D-5052453B7BC5.jpg-y7B8I8OcSyCqIOxkb5Pn9-628B3466-DE45-4253-A04D-5052453B7BC5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.slide5 {
    background: linear-gradient(454deg, #404c80, #53ff88);
}
.slide6 {
    position: relative;
    height: 110%;
    background: url(https://animesher.com/orig/1/145/1453/14532/animesher.com_sky-gif-scenery-1453223.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.slide7 {
    background: linear-gradient(454deg, #404c80, #53ff88);
}
.slide8 {
    position: relative;
    height: 110%;
    background: url(https://www.icegif.com/wp-content/uploads/2023/02/icegif-1341.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.slide9 {
    background: linear-gradient(454deg, #404c80, #53ff88);
}
.slide10 {
    position: relative;
    height: 110%;
    background: url(https://i.gifer.com/HbbB.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.slide11 {
    position: relative;
    height: 110%;
    background: url(https://i.pinimg.com/originals/a2/6c/af/a26caf8007678c9c489207faf8230ac6.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.slide12 {
    position: relative;
    height: 110%;
    background: url(https://i.pinimg.com/originals/a2/6c/af/a26caf8007678c9c489207faf8230ac6.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.slide13 {
    position: relative;
    height: 110%;
    background: url(https://i.pinimg.com/originals/a2/6c/af/a26caf8007678c9c489207faf8230ac6.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}